Flask>=1.1.2
pymongo>=3.10.1
celery==4.4.2
Flask-Cors==3.0.8
requests>=2.23.0
redis>=3.5.2
eventlet==0.31.0
pyOpenSSL==20.0.0
Flask-JWT-Extended==4.0.2
passlib==1.7.4
jsonschema==3.2.0
sentry-sdk[flask]==1.0.0
slack-sdk==3.4.2
